body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff0db;
}

.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: gray;
    margin-top: 150px;
    width: 360px;
    border-radius: 15px 15px 15px 15px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

.screen{
    display: flex;
    width: 300px;
    height: 60px;
    margin-top: 20px;
    background-color: #fffafa;
    justify-content: right;
    align-items: end;
    font-size: 50px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.extra{
    display: flex;
    height: 60px;
    width: 300px;
    background-color: #fffafa;
    justify-content: right;
    align-items: end;
    font-size: 50px;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.clear, .delete{
    width: 150px;
    height: 60px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-size: 25px;
}

.clear{
    background-color: lightblue;
    margin-right: 2.5px;
}

.delete{
    background-color: #f56991 ;
    margin-left: 2.5px;
}

.content-three, .content-four, .content-five, .content-six{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 50px;
}

.content-six{
    margin-bottom: 20px;
}

.btn{
    flex: 1;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.footer{
    margin-top: 275px;
    font-size: 20px;
}
